{% extends 'base.html' %}
{% load static %}
{% block head %}
	<title>
		Регистрация | Автостопом до Кижинги
	</title>
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Login , registration, forgot password " />
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
	<div class="login-02">
		<div class="two-login  hvr-float-shadow">
			<div class="two-login-head">
				<h2>Автостопом до Кижинги</h2>
				<img src="{% static 'images/top-note.png' %}" alt=""/>
				<h2>Регистрация</h2>
			</div>
			<form method="post" action=".">
				{{ form.as_p }}
				{% csrf_token %}

				<div class="submit two">
					<input type="submit"  value="Зарегистрироваться" >
				</div>
			</form>

			{{ error }}
			{% if done == True %}
				<script>
					alert("Вы зарегистрированы. Теперь можете авторизироваться!");
				</script>
			{% endif %}
			<h5>Уже зарегистрированы? <a href="{% url 'login' %}">Вход</a></h5>
		</div>
	</div>
{% endblock %}
